/* Динамический стиль для шапки */
#Header .top_bar_left,
.header-classic #Top_bar,
.header-plain #Top_bar,
.header-stack #Top_bar,
.header-split #Top_bar,
.header-shop #Top_bar,
.header-shop-split #Top_bar,
.header-fixed #Top_bar,
.header-below #Top_bar,
#Header_creative,
#Top_bar #menu,
.sticky-tb-color #Top_bar.is-sticky {
    background-color: #112b3a;
}

#Top_bar .wpml-languages a.active,
#Top_bar .wpml-languages ul.wpml-lang-dropdown {
    background-color: #112b3a;
}

#Top_bar .top_bar_right:before {
    background-color: #e3e3e3;
}

#Header .top_bar_right {
    background-color: #f5f5f5;
}

#Top_bar .top_bar_right .top-bar-right-icon,
#Top_bar .top_bar_right .top-bar-right-icon svg .path {
    color: #333333;
    stroke: #333333;
}

#Top_bar .menu > li > a,
#Top_bar #menu ul li.submenu .menu-toggle {
    color: #aec1ff;
}

#Top_bar .menu > li.current-menu-item > a,
#Top_bar .menu > li.current_page_item > a,
#Top_bar .menu > li.current-menu-parent > a,
#Top_bar .menu > li.current-page-parent > a,
#Top_bar .menu > li.current-menu-ancestor > a,
#Top_bar .menu > li.current-page-ancestor > a,
#Top_bar .menu > li.current_page_ancestor > a,
#Top_bar .menu > li.hover > a {
    color: #cee6ff;
}

#Top_bar .menu > li a:not(.menu-toggle):after {
    background: #cee6ff;
}

.menuo-arrows #Top_bar .menu > li.submenu > a > span:not(.description)::after {
    border-top-color: #aec1ff;
}

#Top_bar .menu > li.current-menu-item.submenu > a > span:not(.description)::after,
#Top_bar .menu > li.current_page_item.submenu > a > span:not(.description)::after,
#Top_bar .menu > li.current-menu-parent.submenu > a > span:not(.description)::after,
#Top_bar .menu > li.current-page-parent.submenu > a > span:not(.description)::after,
#Top_bar .menu > li.current-menu-ancestor.submenu > a > span:not(.description)::after,
#Top_bar .menu > li.current-page-ancestor.submenu > a > span:not(.description)::after,
#Top_bar .menu > li.current_page_ancestor.submenu > a > span:not(.description)::after,
#Top_bar .menu > li.hover.submenu > a > span:not(.description)::after {
    border-top-color: #cee6ff;
}

.menu-highlight #Top_bar #menu > ul > li.current-menu-item > a,
.menu-highlight #Top_bar #menu > ul > li.current_page_item > a,
.menu-highlight #Top_bar #menu > ul > li.current-menu-parent > a,
.menu-highlight #Top_bar #menu > ul > li.current-page-parent > a,
.menu-highlight #Top_bar #menu > ul > li.current-menu-ancestor > a,
.menu-highlight #Top_bar #menu > ul > li.current-page-ancestor > a,
.menu-highlight #Top_bar #menu > ul > li.current_page_ancestor > a,
.menu-highlight #Top_bar #menu > ul > li.hover > a {
    background: #F2F2F2;
}

.menu-arrow-bottom #Top_bar .menu > li > a:after {
    border-bottom-color: #cee6ff;
}

.menu-arrow-top #Top_bar .menu > li > a:after {
    border-top-color: #cee6ff;
}

.header-plain #Top_bar .menu > li.current-menu-item > a,
.header-plain #Top_bar .menu > li.current_page_item > a,
.header-plain #Top_bar .menu > li.current-menu-parent > a,
.header-plain #Top_bar .menu > li.current-page-parent > a,
.header-plain #Top_bar .menu > li.current-menu-ancestor > a,
.header-plain #Top_bar .menu > li.current-page-ancestor > a,
.header-plain #Top_bar .menu > li.current_page_ancestor > a,
.header-plain #Top_bar .menu > li.hover > a,
.header-plain #Top_bar .wpml-languages:hover,
.header-plain #Top_bar .wpml-languages ul.wpml-lang-dropdown {
    background: #F2F2F2;
    color: #cee6ff;
}

.header-plain #Top_bar .top_bar_right .top-bar-right-icon:hover {
    background: #F2F2F2;
}

.header-plain #Top_bar,
.header-plain #Top_bar .menu > li > a span:not(.description),
.header-plain #Top_bar .top_bar_right .top-bar-right-icon,
.header-plain #Top_bar .top_bar_right .top-bar-right-button,
.header-plain #Top_bar .top_bar_right .top-bar-right-input,
.header-plain #Top_bar .wpml-languages {
    border-color: #f2f2f2;
}

#Top_bar .menu > li ul {
    background-color: #195477;
}

#Top_bar .menu > li ul li a {
    color: #aec1ff;
}

#Top_bar .menu > li ul li a:hover,
#Top_bar .menu > li ul li.hover > a {
    color: #cee6ff;
}

.overlay-menu-toggle {
    color: #2189ff !important;
    background: transparent;
}

#Overlay {
    background: rgba(0, 149, 235, 0.95);
}

#overlay-menu ul li a,
.header-overlay .overlay-menu-toggle.focus {
    color: #FFFFFF;
}

#overlay-menu ul li.current-menu-item > a,
#overlay-menu ul li.current_page_item > a,
#overlay-menu ul li.current-menu-parent > a,
#overlay-menu ul li.current-page-parent > a,
#overlay-menu ul li.current-menu-ancestor > a,
#overlay-menu ul li.current-page-ancestor > a,
#overlay-menu ul li.current_page_ancestor > a {
    color: #B1DCFB;
}

#Top_bar .responsive-menu-toggle,
#Header_creative .creative-menu-toggle,
#Header_creative .responsive-menu-toggle {
    color: #2189ff;
    background: transparent;
}

@media only screen and (min-width: 768px) {
    .header-semi #Top_bar:not(.is-sticky) {
        background-color: rgba(17, 43, 58, 0.8);
    }
}

@media only screen and (max-width: 767px) {
    #Top_bar {
        background-color: #112b3a !important;
    }

    #Action_bar {
        background-color: #292b33 !important;
    }

    #Action_bar .contact_details {
        color: #bbbbbb;
    }

    #Action_bar .contact_details a {
        color: #2189ff;
    }

    #Action_bar .contact_details a:hover {
        color: #007cc3;
    }

    #Action_bar .social li a,
    #Action_bar .social-menu a {
        color: #bbbbbb !important;
    }

    #Action_bar .social li a:hover,
    #Action_bar .social-menu a:hover {
        color: #777777 !important;
    }
}

form input.display-none {
    display: none !important;
}